@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        @apply appearance-none;
    }
}
input[type="number"]:focus {
    /* Add your desired border style for the focused state */
    border-width: 1px; /* For example, set border width to 1px */
    border-color: #ccc; /* For example, set border color to a light gray */
    outline: none; /* Optionally, remove the outline on focus (it's a blue shadow by default) */
}
body {
    color: rgb(var(--foreground-rgb));
}
